@use 'sass:map';
@use 'sass:color';
@use 'src/styles/variables.scss' as *;

.container {
  display: flex;
  overflow: hidden;
  max-width: 45%;
  flex: 0 0 auto;
  align-self: flex-start;

  .avatar {
    width: 6.2rem;
    flex: 0 0 auto;
    align-self: flex-end;
    margin-bottom: 2.3rem;
  }

  .date {
    white-space: nowrap;
  }

  .bubble {
    display: inline-block;
    border-radius: 2.55rem;
    text-align: start;
  }

  &.fromSelf {
    align-self: flex-end;
    text-align: end;

    .bubble {
      background-color: color.scale(red, $lightness: -35%);

      &:not(.clusterStart) {
        border-top-right-radius: 0;
      }

      &:not(.clusterEnd) {
        border-bottom-right-radius: 0;
      }
    }
  }

  &:not(.fromSelf) {
    .bubble {
      background-color: color.scale(blue, $lightness: -35%);

      &:not(.clusterStart) {
        border-top-left-radius: 0;
      }

      &:not(.clusterEnd) {
        border-bottom-left-radius: 0;
      }
    }
  }
}
