@use 'sass:color';

.container {
  display: grid;
  overflow: hidden;
  max-width: 55%;
  flex: 0 0 auto;
  align-items: end;
  align-self: flex-start;

  .date {
    white-space: nowrap;
  }

  .bubble {
    display: inline-block;
    border-radius: 2.55rem;
    text-align: start;
  }

  &.fromSelf {
    max-width: calc(55% - 6.2rem);
    align-self: flex-end;
    grid-template-columns: 1fr;
    text-align: end;

    .bubble {
      background-color: color.scale(red, $lightness: -35%);

      &:not(.clusterStart) {
        border-top-right-radius: 0;
      }

      &:not(.clusterEnd) {
        border-bottom-right-radius: 0;
      }
    }
  }

  &:not(.fromSelf) {
    grid-template-columns: 6.2rem 1fr;

    .bubble {
      background-color: color.scale(blue, $lightness: -35%);

      &:not(.clusterStart) {
        border-top-left-radius: 0;
      }

      &:not(.clusterEnd) {
        border-bottom-left-radius: 0;
      }
    }
  }
}
