.container {
  display: flex;
  height: 9rem;
  align-items: center;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  transition: background-color 250ms;

  &:not(:last-child) {
    border-bottom: 0.2rem solid var(--borderPrimary);
  }

  &:hover,
  &:focus {
    background-color: var(--fillPrimaryLight);
  }

  &.selected {
    background-color: var(--fillPrimarySemiLight);
  }

  .avatar {
    flex: 0 0 auto;
  }

  .text {
    overflow: hidden;
    flex: 1 1 auto;

    .title {
      display: flex;
      align-items: center;

      .name {
        flex: 1 1 auto;
      }
    }

    .date {
      float: right;
    }
  }
}
