@use '../variables.scss' as *;

.container {
  display: flex;
  overflow: hidden;
  min-width: 50rem;
  height: 100%;
  flex-direction: column;

  .banner {
    display: flex;
    flex: 0 0 $bannerHeight;
    align-items: center;
    border-bottom: 0.2rem solid var(--borderPrimary);
  }

  .scrollWrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    overflow-y: auto;

    .main {
      display: flex;
      width: 100%;
      max-width: 115rem;
      flex-direction: column-reverse;
      margin: 0 auto;
    }
  }

  .footer {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    border-top: 0.2rem solid var(--borderPrimary);
  }

  .input {
    min-width: 25rem;
    flex: 0 1 80rem;
  }
}
