@use '../variables.scss' as *;

.container {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;

  .banner {
    display: flex;
    flex: 0 0 $bannerHeight;
    align-items: center;
    border-bottom: 0.2rem solid var(--borderPrimary);
  }

  .scrollWrapper {
    flex: 1 1 auto;
    overflow-y: auto;

    .main {
      display: flex;
      max-width: 100rem;
      min-height: 100%;
      flex-direction: column;
      margin: 0 auto;

      .spacer {
        flex: 1 1 auto;
      }
    }
  }

  .footer {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    border-top: 0.2rem solid var(--borderPrimary);
  }

  .input {
    min-width: 25rem;
    flex: 0 1 80rem;
  }
}
