@use 'sass:map';
@use './variables' as *;

.textPrimary {
  color: var(--textPrimary);
}

.fillPrimary {
  background-color: var(--fillPrimary);
}

.borderPrimary {
  border-color: var(--borderPrimary);
}
