@use 'sass:map';
@use './variables' as *;

/* 
 * Use CSS variables here to support changing color themes during runtime
 */

.textPrimary {
  color: var(--textPrimary);
}

.fillPrimary {
  background-color: var(--fillPrimary);
}

.borderPrimary {
  border-color: var(--borderPrimary);
}
