/* 
 * Use CSS variables here to support changing color themes during runtime
 */

.textPrimary {
  color: var(--textPrimary);
}

.fillPrimary {
  background-color: var(--fillPrimary);
}

.fillSecondary {
  background-color: var(--fillSecondary);
}
