@use './variables' as *;

@each $name, $value in $fontWeight {
  .#{$name}Style {
    font-style: normal;
    font-weight: #{$value};
  }

  .#{$name}ItalicStyle {
    font-style: italic;
    font-weight: #{$value};
  }
}

@each $name, $value in $fontSize {
  .#{$name}Size {
    font-size: #{$value};
  }
}
