// color
$color: (
  'textPrimary': white,
  'fillPrimary': dimgrey,
  'fillSecondary': lightgrey,
  'borderPrimary': darkgrey,
);

// font
$fontWeight: (
  'normal': 400,
  'bold': 700,
);
$fontSize: (
  'extraSmall': 1rem,
  'small': 1.5rem,
  'regular': 2rem,
  'large': 2.5rem,
  'extraLarge': 3rem,
);

// spacing
$spacing: (
  'small': 0.4rem,
  'medium': 0.8rem,
  'large': 1.2rem,
  'extraLarge': 2rem,
);
