// color
$color: (
  'textPrimary': white,
  'fillPrimary': grey,
  'borderPrimary': darkorange,
);

// font
$fontWeight: (
  'light': 300,
  'normal': 400,
  'semiBold': 600,
  'bold': 700,
);
$fontSize: (
  'extraSmall': 1rem,
  'small': 1.5rem,
  'regular': 2rem,
  'large': 2.5rem,
  'extraLarge': 3rem,
);
