// color
$color: (
  'textPrimary': white,
  'textSecondary': lightgrey,
  'textTertiary': darkslategrey,
  'fillPrimary': dimgrey,
  'fillSecondary': lightgrey,
  'fillTertiary': grey,
  'borderPrimary': darkgrey,
);

// font
$fontWeight: (
  'light': 300,
  'normal': 400,
  'semiBold': 600,
  'bold': 700,
  'extraBold': 800,
);
$fontSize: (
  'extraSmall': 1rem,
  'small': 1.6rem,
  'medium': 2rem,
  'large': 2.5rem,
  'extraLarge': 3rem,
);

// spacing
$spacing: (
  'small': 0.4rem,
  'medium': 0.8rem,
  'large': 1.2rem,
  'extraLarge': 2rem,
);
