.container {
  display: flex;
  overflow: hidden;
  height: 100%;

  .convoList {
    overflow: hidden;
    flex: 0 0 40rem;
    border-right: 0.2rem solid var(--borderPrimary);
  }

  .convoView {
    flex: 1 1 auto;
    overflow: auto;
  }
}
