@use '../variables.scss' as *;

.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  .banner {
    display: flex;
    flex: 0 0 $bannerHeight;
    align-items: center;
    border-bottom: 0.2rem solid var(--borderPrimary);

    .button {
      margin: auto;
    }
  }

  .list {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}
