@use 'sass:map';
@use './styles/variables' as *;

@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap';

:root {
  // root font size to use rem units elsewhere
  font-size: 10px;

  // dynamic color vars, for future color themes
  @each $name, $value in $color {
    --#{$name}: #{$value};
  }
}

body {
  // base layout
  margin: 0;

  // base font
  font-weight: map.get($fontWeight, 'normal');
  font-size: map.get($fontSize, 'medium');
  font-family: 'Open Sans', sans-serif;

  // color
  background-color: var(--fillPrimary);

  // browser specific font optimizations
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
