@use 'sass:map';
@use './styles/variables' as *;

@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap';

:root {
  // root font size to use rem units elsewhere
  font-size: 10px;

  // dynamic color vars, for future color themes
  @each $name, $value in $color {
    --#{$name}: #{$value};
  }
}

body {
  // base layout
  margin: 0;

  // color
  background-color: var(--fillPrimary);
  color: var(--textPrimary);

  // font
  font-family: 'Open Sans', sans-serif;
  font-size: map.get($fontSize, 'medium');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: map.get($fontWeight, 'normal');
}

button,
textarea {
  // unset the default styles for elements we have custom components of
  all: unset;
}
